
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bg1: #ff6900;
        --bg2: #1a1a1a;
        --bg3: #ff0000;
        --bg4: #008000;
        --txt-primary: white;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        background-color: var(--bg1);
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    main {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    footer {
        background-color: var(--bg2);
    }

    .container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
    }

    .d-flex {
        display: flex;
    }

    .py-1 {
        padding: 1rem 0;
    }

/* #endregion Common */

/* #region Debug */

    .debug1 {
        height: 100px;
        background-color: lightgreen;
        border: 1px dashed black;
    }

    .debug2 {
        height: 200px;
        border: 1px dashed red;
    }

    .debug3 {
        height: 50px;
        background-color: lightyellow;
        border: 1px dashed red;
    }

/* #endregion Debug */

/* #region Header */

    header .row {
        align-items: center;
        color: var(--txt-primary);
    }

    .h-col.left {
        width: calc(100% / 12 * 4);
    }

    .h-col.cent {
        width: calc(100% / 12 * 4);
        justify-content: center;
    }

    .h-col.right {
        width: calc(100% / 12 * 4);
        justify-content: flex-end;
    }

    .h-col a {
        color: var(--txt-primary);
        text-decoration: none;
        margin: 0 6px;
        font-size: 14px;
    }

    .h-col a:hover {
        text-decoration: underline;
    }
    
    .h-col img {
        height: 30px;
    }

    .h-col i {
        margin: 0 6px;
    }

/* #endregion Header */

/* #region main */

    main .row {
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    .m-col {
        width: calc(100% / 12 * 3.6);
        font-size: 14px;
    }

    .figure {
        position: relative;
    }

    .m-col img {
        width: 100%;
        max-width: 400px;   
    }
    
    .first-img {
        position: absolute;
        left: 0;
        top: 0;
        
    }

    .first-img:hover {
        display: none;
    }

    .container-etichette {
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 20px;
        left: 0;
    } 

    .etichetta {
        color: var(--txt-primary);
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        height: 16px;

    }

    .etichetta.sconto {
        background-color: var(--bg3);
        width: 40px;
        margin-right: 10px;
    }

    .etichetta.sost {
        background-color: var(--bg4);
        width: 80px;
    }

    .heart {
        padding: 5px;
        background-color: var(--txt-primary);
        position: absolute;
        top: 10px;
        right: 0;
    }

    .heart:hover {
        color: red;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
    }

    .price-new {
        color: red;
        font-weight: bold;
        margin-right: 3px;
    }

    .price-old {
        text-decoration: line-through;
    }

/* #endregion main */